@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');

header {
    height: 700px;
    background-image: url("../assets/Photos/background_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.recipes-section {
    z-index: 2;
    position: relative;
}

.recipes-header {
    z-index: 1;
}

.filter-bar {
    position: absolute;

}

.recipes-container {
    z-index: -1;
}

.option-selected-container {
    z-index: 3;
}